@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

#root, html{
  background-color: bisque;
}

body{
  background-color: #ffff;
  color: #222;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
  
}

header {
  position: relative;
}

header .logo{
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .shop-cart-button{
  float: right;
  cursor: pointer;
  transition: color,transform 500ms ease;
}

header .shop-cart-button:hover,header .shop-cart-button.active {
  color: #5e3c20;
  transform: scale(1.5);
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #e3e4bd;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  border: 1px solid #a3763c98;

  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .item .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item img {
width: 70px;
float: left;
margin-right: 20px;
}

header .shop-cart .item h2{
font-size: 20px;
margin-bottom: 10px;
}

header .shop-cart .item p{
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-item{
  color: #a3773c;
  float: right;
  position: relative;
  top: -10px;
  left: -10px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .summa{
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item .delete-item:hover{
  color: red;
  transform: scale(1.5);
}

header .presentation {
  margin: 50px 0;
  background: url('./img/banner.jpg') no-repeat;
  width: 100%;
  height: 500px;
  block-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: bisque;
  border-radius: 40px 40px 2px 2px;
}

.categories div{
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover{
  border-color: #a3773c;
  transform: scale(1.5);
}

.full-item{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000085;
  z-index: 9999;
  overflow: auto;
}

.full-item > div{
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #ffff;
  border-radius: 10px;
  -webkit-box-shadow: -20px 22px 7px -16px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -20px 22px 7px -16px rgba(0, 0, 0, 0.35);
  box-shadow: -20px 22px 7px -16px rgba(0, 0, 0, 0.35);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f1d1;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  border-radius: 15px 15px 0 0;
}
main .item img,
.full-item img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover,
.full-item img:hover{
  transform: scale(1.05);
}

main h2,.full-item h2,
main p,.full-item p,
main b,.full-item b{
  margin: 10px 20px;
  color: #333;
}

main b, .full-item b{
  color: #68481e;
}

main .add-to-cart,
.full-item .add-to-cart{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #a3773c;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.5) translate(-5px);
}

footer {
  position: relative;
  text-align: center;
  margin-top: 100px;
}
footer .logo{
  font-weight: 600;
  font-size: 20px;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
  float: left;
  list-style: none;
  position: relative;
}

footer ul {
  float: right;
  list-style: none;
  display: flex;
}

footer li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

footer li:hover {
  opacity: 0.5;
}

.close-btn{
  background-color: transparent;
  border: 0;
  color: red;
  float: right;
  margin-top: -20px;
  opacity: 0.6;
  transition: transform 500ms ease;
}
.close-btn:hover{
  opacity: 1;
  transform: scale(1.5) translate(1px);
}
 .categories{
  float: left;
  padding-left: 60px;
  cursor: pointer;
  transition: color,transform 500ms ease;
}

 .categories, .categories.active {
  color: #5e3c20;
  transform: scale(1.5);
}

.search {
  float:right;
}

.search-input {
  position: absolute;
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 15px 20px;
  padding-right: 5cm;
  right: 225px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.search-input:focus {
  border-color: #5e3c20;
  box-shadow: 0 0 5px rgba(181, 162, 99, 0.5)
}